<div id="login-container">
  <div class="login-img-container">
    <img src="/images/text.png" alt="becapy's logo" width="400px">
    <img src="/images/capivara1.png" alt="gif of a capybara" width="250px">
  </div>
  <div class="login-box-container">
    <div>
      <form action="/" method="POST">
        <div class="input-group mb-2">
          <input
            type="text"
            name="email"
            class="custom-form-control form-control py-2 ps-4 {{#if errors}}is-invalid{{/if}}"
            placeholder="user@example.org"
            aria-label="User email"
            value="{{ user.email }}"
          >
        </div>

        <div class="input-group mb-3">
          <input
            id="password-input"
            type="password"
            name="password"
            class="custom-form-control form-control py-2 ps-4 {{#if errors}}is-invalid{{/if}}"
            placeholder="Password"
            aria-label="User password"
          >
          <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
            <i id="password-icon" class="fa fa-eye-slash fa-fw"></i>
          </button>
        </div>

        {{#if message}}<div>{{message}}</div>{{/if}}
        {{#if errors}}<div>{{ errors }}</div>{{/if}}

        <div>
          <button type="submit">Login</button>
          <div>
            <a href="/login/google">
              <i class="fa fa-google"></i>
              Login with Google
            </a>
          </div>

          <a href="/register">DON'T HAVE AN ACCOUNT? REGISTER HERE</a>
          
        </div>
      </form>
    </div>
  </div>
</div>