<h2>Change your password</h2>

<form action='/change/password/{{currentUser.username}}' method="POST">
    <div class="input-group mb-3">
      <input
          type="password"
          name="oldPassword"
          class="password-input custom-form-control form-control py-2 ps-4 {{#if errorMatch}}is-invalid{{/if}}"
          placeholder="Please type your current password"
          aria-label="User password"
        >
        <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
          <i id="password-icon" class="fa fa-eye-slash fa-fw"></i>
        </button>
        {{#if errorMatch}}<div class="invalid-feedback">{{ errorMatch }}</div>{{/if}}
    </div>
    
    <div class="input-group mb-3">
        <input
          type="password"
          name="newPassword"
          class="password-input custom-form-control form-control py-2 ps-4 {{#if error.password}}is-invalid{{/if}}"
          placeholder="New password"
          aria-label="User password"
        >
        <button class="btn btn-outline-secondary password-toggle c-dark" type="button">
          <i id="password-icon" class="fa fa-eye-slash fa-fw"></i>
        </button>
        {{#if error.password}}<div class="invalid-feedback">{{ error.password }}</div>{{/if}}
    </div>
    <button type="submit" class="btn btn-primary bg-light-green border-0">SUBMIT</button>
</form>