<h2>This will deactivate your account</h2>
<p>You’re about to start the process of deactivating your BeCappy account.</p>
<p>keep in mind that your username and public profile will no longer be viewable on BeCappy.com.</p>

<form action="/deleteAccount/{{currentUser.id}}" method="POST">
    <button type="submit" id="btn2">DELETE ACCOUNT</button>
</form>