<div class="dinamic-view-container">
    <h2>This will deactivate your account</h2>
    <div id="form-delete-account">        
        <p>You’re about to start the process of deactivating your BeCapy account.</p>
        <p>Keep in mind that your username and public profile will no longer be viewable on BeCapy.com.</p>
        <br>
        
    </div>
    <form action="/deleteAccount/{{currentUser.id}}" method="POST" class="form-btn-settings">
        <button id="btn-post-help" type="submit">DELETE</button>
    </form>
</div>
