<div id="settings-container" class="dinamic-view-container">
    <h2>Settings</h2>     

    <div class="settings-options-container"> 
        <div>
            <img src="/images/Profile-image-icon.png" alt="Profile image icon">
        </div>  
        <a href="/change/image">
            <h3>Change your profile's image</h3>
            <p>Update your profile's image at any time.</p>
        </a>
        {{#if imageMessage}} <p>{{imageMessage}}</p> {{/if}}      
    </div>
    

    <div class="settings-options-container">
        <div>
            <img src="/images/Username-icon.png" alt="Username icon">
        </div>        
        <a href="/change/username">
            <h3>Change your username</h3>
            <p>Choose the username you prefer.</p>
        </a>
        {{#if usernameMessage}} <p class="username-updated">{{usernameMessage}}</p> {{/if}}
    </div>
    
    
    {{#unless currentUser.googleID}}
    <div class="settings-options-container">
        <div>
            <img src="/images/Password-icon.png" alt="Password icon">
        </div>
        <a href="/change/password">
            <h3>Change your password</h3>
            <p>Change your password at any time.</p>
        </a>
        {{#if message}} <p>{{message}}</p> {{/if}}
    </div>      
    {{/unless}}

    <div class="settings-options-container">
        <div>
            <img src="/images/Delete-account-icon.png" alt="Delete account icon">
        </div>     
        <a href="/deleteAccount">
            <h3>Delete your account</h3>
            <p>Find out how you can delete your account.</p>
        </a>       
    </div>
</div>





