{{#if currentUser}}
  <nav id="nav-bar">
    <div class="logo-container">      
        <a href="/">
          <img src="/images/logo.png" width="100">
        </a>     
    </div>   
    
    <ul class="nav-bar-list">
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/home">
          <img src="/images/home-icon.png" class="nav-bar-img"><span class="nav-bar-text">Home</span>
        </a>
      </li>
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/explore">
          <img src="/images/explore-icon.png" class="nav-bar-img"><span class="nav-bar-text">Explore</span>
        </a>
      </li>
      <li id="not-remove" class="nav-bar-hover">
        <a class="nav-bar-link" href="/notifications">
          <img id="not-icon" src="/images/notification-icon.png" class="nav-bar-img"><span class="nav-bar-text">Notifications</span>
        </a>
      </li>
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/messages">
          <img src="/images/message-icon.png" class="nav-bar-img"><span class="nav-bar-text">Messages</span>
        </a>
      </li>
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/profile/{{currentUser.username}}">
          <img src="/images/profile-icon.png" class="nav-bar-img"><span class="nav-bar-text">Profile</span>
        </a>
      </li>
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/settings">
          <img src="/images/setting-icon.png" class="nav-bar-img"><span class="nav-bar-text">Settings</span>
        </a>
      </li>
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/about-us">
          <img src="/images/about-us-icon.png" class="nav-bar-img"><span class="nav-bar-text">About Us</span>
        </a>
      </li>
      <li class="nav-bar-hover">
        <a class="nav-bar-link" href="/help">
          <img src="/images/help-icon.png" class="nav-bar-img"><span class="nav-bar-text">Help</span>
        </a>
      </li>
      <li id="logout-li">
        <a class="nav-bar-link" href="/logout">
          <span class="logout-text">Log Out</span>
        </a>
      </li>
    </ul>
  </nav>
{{/if}}

