{{#if currentUser}}
  <nav id="nav-bar">
    <div class="logo-container">      
        <a href="/">
          <img src="/images/logo.png" alt="Becapy's logo" width="80">
        </a>     
    </div>   
    
    <ul class="nav-bar-list">
      <li>
        <a class="nav-bar-link" href="/home">
          <div class="nav-bar-div"><img src="/images/home-icon.png" alt="home's icon"><span class="nav-bar-text">Home</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="/explore">
          <div class="nav-bar-div"><img src="/images/explore-icon.png" alt="explore's icon"><span class="nav-bar-text">Explore Posts</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="#">
          <div class="nav-bar-div"><img src="/images/notification-icon.png" alt="notification's icon"><span class="nav-bar-text">Notifications</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="/messages">
          <div class="nav-bar-div"><img src="/images/message-icon.png" alt="messages's icon"><span class="nav-bar-text">Messages</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="/profile/{{currentUser.username}}">
          <div class="nav-bar-div"><img src="/images/profile-icon.png" alt="profile's icon"><span class="nav-bar-text">Profile</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="/settings">
          <div class="nav-bar-div"><img src="/images/setting-icon.png" alt="settings's icon"><span class="nav-bar-text">Settings</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="#">
          <div class="nav-bar-div"><img src="/images/about-us-icon.png" alt="about us's icon"><span class="nav-bar-text">About Us</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="#">
          <div class="nav-bar-div"><img src="/images/help-icon.png" alt="help's icon"><span class="nav-bar-text">Help</span></div>
        </a>
      </li>
      <li>
        <a class="nav-bar-link" href="/logout">
          <div id="logout-div" class="nav-bar-div"><img src="/images/logout-icon.png" alt="logout's icon"><span class="nav-bar-text">Log Out</span></div>
        </a>
      </li>
    </ul>
  </nav>
{{/if}}