{{#if currentUser}}
    <nav id="short-nav-bar-mobile">
        <ul class="short-nav-bar-mobile-list">
            <a  href="/home">
                <li>
                    <img src="/images/icons/home-dark.png" class="nav-bar-img">
                </li>
            </a>
            <a  href="/list">
                <li>
                    <img src="/images/icons/search-dark.png" class="nav-bar-img">
                </li>
            </a>
            <a  href="/notifications">
                <li id="not-remove-short">
                    <img id="not-icon" src="/images/icons/bell-dark.png" class="nav-bar-img">
                </li>
            </a>
            <a  href="/messages">
                <li>
                    <img src="/images/icons/msg-dark.png" class="nav-bar-img">
                </li>
            </a>
        </ul>
    </nav>
{{/if}}