{{#if currentUser}}
    <nav id="short-nav-bar-mobile">
        <ul class="short-nav-bar-mobile-list">
            <li class="nav-bar-hover">
                <a class="nav-bar-link" href="/home">
                    <img src="/images/icons/home-dark.png" class="nav-bar-img">
                </a>
            </li>
            <li class="nav-bar-hover">
                <a class="nav-bar-link" href="/list">
                    <img src="/images/icons/explore-dark.png" class="nav-bar-img">
                </a>
            </li>
            <li id="not-remove" class="nav-bar-hover">
                <a class="nav-bar-link" href="/notifications">
                    <img id="not-icon" src="/images/icons/bell-dark.png" class="nav-bar-img">
                </a>
            </li>
            <li class="nav-bar-hover">
                <a class="nav-bar-link" href="/messages">
                    <img src="/images/icons/msg-dark.png" class="nav-bar-img">
                </a>
            </li>
        </ul>
    </nav>
{{/if}}