<div id="about-us-container">
    <div class="goback-img-container">
        <img src="/images/capy.gif" alt="gif of a capybara" width="250px">
        <img src="/images/text-white.png" alt="becapy's logo" width="300px">
        <a href="/">Go Back</a>
    </div>
    <div id="about-us-text">
        <h2>ABOUT US</h2>
        <p>BeCapy is a social network inspired on Twitter. The name is a combination of be happy and capybara.
            <br><br>
            For those who don't know, capybaras are giant rodents from South America. They are a highly 
            social species and can be found in groups as large as 100 individuals. They are also very 
            friendly to other animals and the photo evidence of the capybara's friendliness and the animal 
            friendships they can form is more than convincing. Each and every one of domestic and wild animals 
            seems to like hanging out with this friendly creatures and that's where BeCapy comes from.
            <br><br>
            This project was developed from zero by 'The Marinas' (Marina Blasón Graviz and Marina Laporte Böni)
            as part of Ironhack Web Development Bootcamp.
            <br><br>
            The technologies used to create this web page are Express, NodeJS, MongoDB, Mongoose, Axios, Cloudinary, 
            Bcrypt and Passport. As a bonus we used Socket.io to create online chats and notifications. APIs used 
            were newsapi and giphy-api.
            <br><br>
            The logo was designed by Adrian Alberto Arias Londoño (thank you!).
            <br><br>
            Feel free to get in touch with us by clicking on our names below:
        </p>
        <div id="about-us-names">
            <a href="https://www.linkedin.com/in/marina-blason-graviz/">Marina Blasón Graviz</a>   
            <a href="https://www.linkedin.com/in/marina-laporte-boni-/">Marina Laporte Böni</a>
        </div>
    </div>
</div>