<div id="about-us-container">
    <div class="goback-img-container">
        <a href="/">Back</a>
        <div>
            <img src="/images/capy.gif" alt="gif of a capybara" width="250px">
            <img src="/images/text-white.png" alt="becapy's logo" width="300px">
        </div>            
    </div>
    <div id="about-us-text">
        <p><strong>BeCapy</strong> is a social network inspired on Twitter. 
            <br><br>
            Our brand name comes from <i>'Be like a capybara'</i> and <i>'Be friendly'</i>.
            <br><br>
            For those who don't know, capybaras are giant rodents from South America. They are a highly 
            social species and can be found in groups as large as 100 individuals. <strong>They like hanging out with every kind of animal!</strong>
            <br><br>
            This web site was developed in two weeks by <i>'The Marinas'</i> (Marina Blasón Graviz and Marina Laporte Böni)
            as part of Ironhack Web Development Bootcamp.
            <br><br>
            <strong>- Fronted Technologies Used:</strong> JavaScript | HTML | CSS | Bootstrap
            <br><br>
            <strong>- Backend Technologies Used:</strong> Socket.io | Node.js | Express.js | MongoDB | Mongoose | Axios | Cloudinary | Bcrypt | Passport
            <br><br>
            <strong>- APIs used:</strong> Giphy-api | Newsapi
            <br><br>
            BeCapy's logo was designed by Adrian Alberto Arias Londoño (thank you!).
            <br><br>
            Feel free to get in touch with us by clicking on our names below:
        </p>
        <div id="about-us-names">
            <a href="https://www.linkedin.com/in/marina-blason-graviz/" target="_blank">Marina Blasón Graviz</a>   
            <a href="https://www.linkedin.com/in/marina-laporte-boni-/" target="_blank">Marina Laporte Böni</a>
        </div>
    </div>
</div>