<div class="dinamic-view-container">
    {{#if listWithoutDuplicates}}
    <h2>Chats</h2>
    <div>
        {{#each listWithoutDuplicates as |user|}}
            <a href="/message/{{user.username}}">
                <div class="seach-user-container">
                    <img src="{{user.image}}" class="image-cover-small">
                    <div>
                        <h3>{{user.username}}</h3>
                    </div>
                </div>
            </a>
        {{/each}}
    </div>
    {{else}}
        <h2>You have no chats &#128528</h2>
    {{/if}}
</div>