@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;800&family=Montserrat:wght@100;200;300;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;500&family=Roboto+Mono:wght@200;300;400;700&display=swap');

* {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

/* ALL LINKS */
:any-link {
    color: black;
    text-decoration: none;
}

:any-link:hover {
    color: black;
}

/* LAYOUT */
.layout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* NAV BAR */
#nav-bar {
    width: 20rem;
    padding-right: 2rem;
    padding-top: 2rem;
    position: fixed;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.nav-bar-list {
    list-style: none;
    line-height: 3.2rem;
}

.nav-bar-hover {
    padding-left: 1rem;
}

.nav-bar-hover:hover {
    border-radius: 50px;
    background: #E6E6E6;
    box-shadow:  5px 5px 9px #c4c4c4, -5px -5px 9px #ffffff;
}

.nav-bar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-bar-link:hover {
    text-decoration: none;
    color: #F8A668;
}

.nav-bar-img {
    width: 1.8rem;
}

.nav-bar-text {
    font-size: 1.3rem;
    margin-left: 1rem;
}

#logout-li {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    border-radius: 50px;
    background: #E6E6E6;
    box-shadow:  5px 5px 9px #c4c4c4, -5px -5px 9px #ffffff;
}

#logout-li:hover {
    border-radius: 50px;
    background: #E6E6E6;
    box-shadow: inset 5px 5px 9px #c4c4c4, inset -5px -5px 9px #ffffff;
}

#logout-li:hover .logout-text {
    color: #B1D7B4;
}

.logout-text {
    font-size: 1.3rem;
}

/* RECOMMENDATIONS */

#recommendation-container {
    width: 20rem;
    padding-top: 2rem;
    padding-left: 2rem;
    position: fixed;
    right: 0%;
    height: 100vh;
    /* border-left: 1px solid #B1D7B4; */
}

.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

#searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

#follow-suggestion-container h3{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.suggestion-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 2rem;
}

.suggestion-container:hover {
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  9px 9px 17px #d9d9d9, -9px -9px 17px #ffffff;
}

.suggestion-container h4{
    font-size: 1.1rem;
    margin: 0.8rem 0 0 0;
}

.suggestion-container p{
    font-size: 0.9rem;
}

#news-container h3 {
    margin: 1.5rem 0;
    font-size: 1.3rem;
}

.child-news-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 2rem;
    padding-right: 1.5rem;
}

.child-news-container:hover {
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  9px 9px 17px #d9d9d9, -9px -9px 17px #ffffff;
}

.child-news-container p {
    font-size: 0.8rem;
}

/* USERNAME- IMG */

.image-cover-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;

    object-fit: cover;
    object-position: center right;
}

.image-cover-medium {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px;

    object-fit: cover;
    object-position: center right;
}

.image-cover-large {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 20px;

    object-fit: cover;
    object-position: center right;
}

/* LOGIN */

#login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #7FB77E;
    padding: 3rem;
    height: 100vh;
    width: 100vw;
    padding-top: 6rem;
}

.login-img-container {
    display: flex;
    flex-direction: column;
    height: 25rem;
}

.login-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 50px;
    background: #7FB77E;
    box-shadow:  20px 20px 60px #6c9c6b, -20px -20px 60px #92d291;
    height: 29rem;
    width: 32rem;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #7FB77E;
    box-shadow:  2px 2px 5px #6c9c6b, -2px -2px 5px #92d291;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.login-btn-container:hover {
    border-radius: 10px;
    background: #7FB77E;
    box-shadow: inset 20px 20px 60px #6c9c6b, inset -20px -20px 60px #92d291;
}

.login-btn-container button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.login-btn-container a {
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
}

.custom-form-control {
    width: 23rem !important;
}

/* REGISTER */

#register-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #F8A668;
    padding: 3rem;
    height: 100vh;
    width: 100vw;
    padding-top: 4rem;
}

.register-img-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 25rem;
}

.register-box-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 50px;
    background: #F8A668;
    box-shadow:  31px 31px 61px #d38d58, -31px -31px 61px #ffbf78;
    height: 35rem;
    width: 32rem;
}

.register-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F8A668;
    box-shadow:  3px 3px 7px #d38d58, -3px -3px 7px #ffbf78;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.register-btn-container:hover {
    border-radius: 10px;
    background: #F8A668;
    box-shadow: inset 3px 3px 7px #d38d58, inset -3px -3px 7px #ffbf78;
}

.register-btn-container button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

.register-btn-container a {
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    text-decoration: none;
}

/* HOME */

.form-container {
    padding-top: 2rem;
}

.user-container {
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 2rem;
}

#input-text {
    width: 40rem;
    padding: 1rem 1rem 4rem 1rem;
    border: none;
    border-bottom: 1px solid #B1D7B4;
    margin-bottom: 0.8rem;
}

#input-text:focus {
    outline: none;
}

#input-media {
    display: none;
}

.img-input-media {
    width: 30px;
}

#btn-giphys {
    border: none;
    background: none;
}

#btn-giphys > img {
    width: 30px;
}

/* GIPHY */

#giphy-container {
    height: 20rem;
    width: 40rem;
    margin: 1rem;
    border: 1px solid black;
    background-color: black;
}

#giphy-list-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.gif {
    background-color: black;
}

/* PROFILE */

#profile-container {
    display: flex;
    flex-direction: column;
}


/* EXPLORE */

#profile-container {
    display: flex;
    flex-direction: column;
}











































































































































































































































































/* MARU'S VIEWS */

.dinamic-view-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 4rem;
    padding-left: 2rem;
    width: 45vw;
    height: auto;
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}


#settings-container > h2 {
    margin-bottom: 4rem;
}

.settings-options-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.settings-options-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
}

.settings-options-container  img {
    width: 2rem;
}

.settings-options-container > a {
    padding-top: 1rem;
    width: 30rem;
    
}

.settings-options-container > a:hover {
    color: #F8A668;
}

#form-delete-account { 
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
}

#form-delete-account > h2 {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#btn-delete-account {
    background-color: #e6e6e6;
    border: none;
    margin-top: 4rem;
    border: 2px solid #B1D7B4;
    border-radius: 2rem;
}
