{{#unless currentUser.googleID}}
<a href="/changePassword">CHANGE PASSWORD</a>
{{#if message}} <p>{{message}}</p> {{/if}}
{{/unless}}

<form action="/deleteAccount/{{currentUser.id}}" method="POST">
    <button type="submit" id="btn2">DELETE ACCOUNT</button>
</form>


