<a href="/changePassword">CHANGE PASSWORD</a>
{{#if message}}
<p>{{message}}</p>
{{/if}}
<form action="/deleteAccount/{{user.id}}" method="POST">
    <button type="submit" id="btn2">DELETE ACCOUNT</button>
</form>


